  <footer class="footer">
  	 <div class="container">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4> A Escola</h4>
  	 			<ul>
  	 				<li><a href="#">Sobre</a></li>
  	 				<li><a href="#">Nossos Serviços</a></li>
  	 				<li><a href="#">Política de privacidade</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Ajuda</h4>
  	 			<ul>
  	 				<li><a href="#">FAQ</a></li>
  	 				<li><a href="#">Opções de pagamento</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Loja</h4>
  	 			<ul>
  	 				<li><a href="#">Casaco</a></li>
  	 				<li><a href="#">Materias</a></li>
  	 				<li><a href="#">Fardamento</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Acompanhe a gente</h4>
  	 			<div class="social-links">
  	 				<a href="https://www.facebook.com/esfaoficial"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="https://www.instagram.com/esfasobralce/"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-youtube"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>

