<footer class="container">
    <p class="float-end"><a href="#">Voltar ao topo</a></p>
    <p>© 2017–2023 Company, Inc. · <a href="#">Privacidade</a> · <a href="#">Termos</a></p>
    <p> Contatos </p>
  </footer>