
<div class="parent">
      <div>
        <a href="#"> <%= image_tag('logos/logo3.png', alt: 'Description', style: 'display: block; margin: 20px; margin-left: 150px; width: 200px; padding: 15px;')%> </a>
      </div>
      <div>
       <a href="https://saseducacao.com.br/" > <%= image_tag('logos/sas.png', alt: 'Description', style: 'display: block; margin: 20px; width: 200px; padding: 15px;')%> </a>
      </div>
      <div>
        <form class="d-flex" role="search">
          <input  type="search" placeholder="O que procura?" >
          <button class="button" type="submit" >Buscar</button>
        </form>
      </div>
</div>


  <header>
          <div class="logo"><a> <%= image_tag('logos/logo3.png', alt: 'Description', style: 'display: block; margin: 20px; width: 100px; padding: 15px;')%> </a></div>
          <div class="hamburguer">
              <div class="line"></div>
              <div class="line"></div>
              <div class="line"></div>
          </div>
          <nav class="nav-bar">
              <ul>
                  <li>
                      <a href="#" class="active">Início</a>
                  </li>
                  <li>
                      <a href="#" >A Escola</a>
                  </li>
                  <li>
                      <a href="" >Fundamental I</a>
                  </li>
                  <li>
                      <a href="" >Fundamental II</a>
                  </li>
                  <li>
                      <a href="" >SAS</a>
                  </li>
                  <li>
                      <a href="" >Fotos</a>
                  </li>
                  <li>
                      <a href="">Sobre</a>
                  </li>

                 
                </div>
              </ul>
          </nav>
    </header>
