

<link href="assets/stylesheets/style.css" rel="stylesheet">

<div class="parent">
      <div>
        <%= image_tag('logos/logo3.png', alt: 'Description', style: 'display: block; margin: 20px; margin-left: 150px; width: 200px; padding: 15px;')%>
      </div>
      <div>
        <%= image_tag('logos/sas.png', alt: 'Description', style: 'display: block; margin: 20px; width: 200px; padding: 15px;')%>
      </div>
      <div>
        <form class="d-flex" role="search">
          <input  type="search" placeholder="O que procura?" >
          <button class="button" type="submit" >Buscar</button>
        </form>
      </div>
</div>

<div class="navbar navbar-custom"  >
    <div class="navbar-brand">
          
        <li>
          <a class="navbar-text"  href="#"> A ESCOLA</a>
        </li>
        <li>
          <a class="navbar-text"  href="#">INFANTIL</a>
        </li>
        <li>
          <a class="navbar-text" href="#">FUNDAMENTAL I</a>
        </li>
        <li>
          <a class="navbar-text"  href="#">FUNDAMENTAL II</a>
        </li>
        <li>
          <a class="navbar-text"  href="#">CURSINHO</a>
        </li>
        <li>
          <a class="navbar-text"  href="#">FOTOS</a>
        </li>
    </div>
</div>