

<header1>

      <nav class="nav-bar">
            
            <div >
                      <a href="#" class="mr-3" style="color: #FFFFFF;">3611-1254</a>
                      <a href="#" class="mr-3" style="color: #FFFFFF;">fale@esfanet.com.br</a> 
                      
                      <a href="https://www.facebook.com/esfaoficial"><i class="fab fa-facebook-f"></i></a>
                      <a href="https://www.instagram.com/esfasobralce/"><i class="fab fa-instagram"></i></a>
                      <a href="#"><i class="fab fa-youtube"></i></a>
            </div>           
      </nav>
</header1>

<div class="parent">
      <div>
          <%= image_tag('logos/logo3.png', alt: 'Description', style: 'display: block; margin: 20px; margin-left: 150px; width: 200px; padding: 15px;')%>
      </div>
      <div>
       <a href="https://saseducacao.com.br/" > <%= image_tag('logos/sas.png', alt: 'Description', style: 'display: block; margin: 20px; width: 200px; padding: 15px;')%> </a>
      </div>
      <div>
       <a href="https://siga.activesoft.com.br/login/" > <%= image_tag('logos/activesoft.png', alt: 'Description', style: 'display: block; margin-top: 50px; width: 230px; padding: 5px;')%> </a>
      </div>
      <div>
        <form class="d-flex" role="search">
          <input  type="search" placeholder="O que procura?" >
          <button class="button" type="submit" >Buscar</button>
        </form>
      </div>
</div>

  <header>
          <div class="logo">
            <a>
                ESFA
            </a>
          </div>
          <div class="hamburguer">
              <div class="line"></div>
              <div class="line"></div>
              <div class="line"></div>
          </div>
          <nav class="nav-bar">
              <ul>
                  <li>
                      <a href="#" class="active">Início</a>
                  </li>
                  <li class="nav-item">
                      <%= link_to "A Escola", home_about_path, class:"nav-link" %>
                  </li>
                  <li>
                      <a href="" >Fundamental I</a>
                  </li>
                  <li>
                      <a href="" >Fundamental II</a>
                  </li>
                  <li>
                      <a href="" >SAS</a>
                  </li>
                  <li>
                      <a href="" >Fotos</a>
                  </li>
                </div>
              </ul>
          </nav>
    </header>
