<div class="container">
  <%= image_tag('about/fachada_antiga.jpg') %>
  <div class="text-block">
    <h4>Escola São Francisco de Assis</h4>
    <p>Escola São Francisco de Assis</p>
  </div>
</div>

<%= image_tag('logos/logo3.png', alt: 'Description', style: 'display: block; margin: 20px; margin-left: 150px; width: 200px; padding: 15px;')%>